# This is Git's per-user configuration file.
[push]
	default = tracking 
[user]
	name = Mercedes Coyle
	email = mercedes@sensu.io 
[github]
	user = mercul3s
[grep]
	lineNumber = true
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	whitespace = red reverse
	frag = cyan
	old = red bold
	new = green bold
[color "status"]
	added = green
	changed = yellow
	untracked = red
[color "grep"]
	match = cyan
	filename = yellow
[alias]
	st = status
	cl = clone --recursive
	stat = status -sb
	sb = show-branch
	co = checkout
	cb = checkout -b
	br = branch
	df = diff
	cm = commit -m
	cms = commit -s 
	pr = pull-request -m
  remotes = remote -v show
  rh = git reset 'HEAD@{1}'
[url "ssh://git@github.com/"]
  pushInsteadOf = git://github.com/
  pushInsteadOf = https://github.com/
[core]
	editor = vi
